/* Background Color */

body {
  background-color: #f8f8f8;
}
/* App */
.App {
  margin: 0;
  max-width: 100%;
  padding: 0px 15px 0.1px 15px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


h1 {
  text-align: center;
  color: #333;
}

/* TaskForm */
form {
  display: flex;
  margin-bottom: 10px;
  gap: 5px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* TaskList */
ul {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  height: 450px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
  flex: 1;
  cursor: pointer;
}

.delete-btn {
  background-color: #dc3545;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  border: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0px 5px;
}

.delete-btn:hover {
  background-color: #a30818;
}
.complete-btn {
  background-color: #2acf27;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0px 5px;
}
.complete-btn:hover {
  background-color: #1f961d;
}

/* FilterOptions */
.filterSection{
  display: flex;
}
label {
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="radio"]{
  cursor: pointer;
}


/* Copyright */
.copyrightline{
  position: fixed;
  font-size: 10px;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}